# Node modules
node_modules/

# Build output
build/
dist/

# React Native
.expo/
.expo-shared/

# Logs
logs/
*.log

# Dependency directories
jspm_packages/

# Testing
coverage/

# IDEs and text editors
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
.env.*.local
